$nav-background-color: rgba(0,0,0,.85);

$color-black-400: #1F1F1F;
$color-black-500: #181818;
$color-black-600: #121212;
$color-black-900: #000000;

$color-green-400: #1ED760;
$color-green-500: #15BE63;
$color-green-600: #0E995D;

$color-gray-400: #CFCFCF;
$color-gray-500: #B3B3B3;
$color-gray-600: #AAAAAA;

$color-red-500: #c54343;