@import 'reset';
@import 'variables';

body {
  margin-bottom: 10rem;
  font-family: 'Source Sans Pro', sans-serif;
  background: $color-black-600;
  color: white;
  overflow-x: hidden;
}

main {
  padding-top: 2rem;
}

.container {
  max-width: min(1350px, calc(100vw - 2.5em), 95%);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.pageTitle {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: $color-green-500;
  padding-bottom: .25rem;
  border-bottom: 1px solid $color-green-600;
}

.notFoundPage {
  width: 100%;
  padding-top: 5rem;
  text-align: center;
  font-size: 3rem;
}